* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
}
.container {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    padding: 40px;
}
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.name {
    position: fixed;
    top: 40;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    z-index: 1000;
    color: white;
    font-size: 20px;
}
.options {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    z-index: 1000;
}

.button {
    font-weight: bold;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.button {
    background-color: black;
    color: white;
}

.button:hover {
    background-color: #222;
}

.answer-container {
    display: none;
}